<div class="main">
<h3>Main Component</h3>
<p>Create an app which displays the current time based on the time-zone the user selects as shown below in the wireframe. The most recent button clicked should appear with a yellow background.
  
  Note: Don't worry about having the time-zone be accurate based on the user's physical location, assume your location to be the origin of all users using your app. As  a bonus, attempt to present the accurate time-zoned, regardless of where we run this application. This purpose of this assignment is to learn how to use the events, data binding, structural and attribute directives.</p>
</div>